input {
  text-align: center;
  font-family: Arial;
  font-size: 10px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 30px;
}

body {
  background-image: url("pexels-engin-akyurt-1435752.jpg");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
} 

.bando0 {
  border: solid #000;
 
  width: 1200px;
  height: 600px;
  margin-left: 70px;
  margin-right: 90px;
}

.bando1 {
border: solid #000;
border-radius: 10px;
border-style: groove;
z-index: 1;
width: 300px;
height: 250px;
margin-left: 120px;
background-image: url(pexels-pixabay-268415.jpg);

}
.bando2 {
  border: solid #000;
  border-radius: 12px;
  border-style: groove;
  height: 400px;
  width: 600px;
  margin-left: 350px;
  margin-top: -220px;
 }

label {
 
  font-family: arial;
  font-size: 20px;
  text-align: center;
  
}

.bando3 {
  z-index: 1;
  border: solid #000;
  border-style: groove;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin-left: 870px;
  margin-top: -145px;
  background-image: url(pexels-pixabay-268415.jpg);

}
.submit {
  background-color: rgb(9, 158, 207);
  border-radius: 8px;
  color: white;
  height: 25px;
  width: 85px;
  border: none;
  border-radius: 8px;
}

